/*main {
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-columns: repeat(3, 100%);

}*/

/*Tablet*/
@media screen and (min-width:300px) {
    .Box-BMA {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        flex-direction: column;
        background-color: #8c3642;
        color: #FFFFFF;



    }

    .box-BMA {
        .hover {

            width: 400px
        }
    }



    .Box-BVA {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        flex-direction: column;
        background-color: #BF4045;
        color: #FFFFFF;


    }

    .Box-BHI {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        flex-direction: column;
        background-color: #8c3642;
        color: #FFFFFF;
        border-left: 1px solid black;


    }

    .Box-ind {

        display: flex;
        justify-content: center;
        align-items: center;
        font-size: .75rem;
        flex-direction: column;
        background-color: #414554;
        color: #FFFFFF;
        border-right: 1px solid black
    }

    .Box-Santander {

        display: flex;
        justify-content: center;
        align-items: center;
        font-size: .75rem;
        flex-direction: column;
        background-color: #35764E;

        border-top: 1px solid black;
        border-left: 1px solid black;

        border-bottom: 1px solid black;

        p {
            color: #FFFFFF;
        }
    }

    .Box-Credico {

        display: flex;
        justify-content: center;
        align-items: center;
        font-size: .75rem;
        flex-direction: column;
        background-color: #35764E;
        color: #FFFFFF;
        border-top: 1px solid black;




    }

    .Box-Coma {

        display: flex;
        justify-content: center;
        align-items: center;
        font-size: .75rem;
        flex-direction: column;
        background-color: #35764E;
        color: #FFFFFF;


    }

    .Box-17 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        flex-direction: column;
        color: #FFFFFF;
        background-color: #414554;
        border-right: 1px solid black;
        border-bottom: 1px solid black;



    }

    .informes {


        margin-bottom: 20px;
        display: grid;
        grid-template-columns: 100%;

        margin-bottom: 5rem;


        .subcuadroInforme {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 10% 40% 10% 40%;


            .titulo {
                font-family: sans-serif;
                padding: .5rem;
                background-color: azure;
                margin-top: 12px;
                margin-left: 15px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-top: 1px solid;
                border-right: 1px solid;
                border-left: 1px solid;

                h2 {

                    font-size: 1.5vw;



                }

                h3 {
                    font-size: 1vw;


                }
            }

            .Cuadro {
                margin-left: 15px;
                border: 1px solid;
                display: grid;
                grid-template-columns: 35% 65%;




                .subCuadro {
                    display: grid;
                    grid-template-columns: 100%;
                    grid-template-rows: 50% 50%;
                    border-right: 1px solid;



                    .Box-GGAL {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 28px;
                        flex-direction: column;
                        background-color: #414554;
                        color: #FFFFFF;
                        border-bottom: 1px solid black;



                    }
                }

                .subCuadro2 {
                    display: grid;
                    grid-template-columns: 33% 34.2% 33%;
                    grid-template-rows: 25% 25% 25% 25%;




                    .Box-SUP {
                        grid-row: 2 span;

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 24px;
                        flex-direction: column;
                        background-color: #35764E;
                        color: #FFFFFF;
                        border-right: 1px solid black;

                    }

                    .subCuadrado3 {
                        display: grid;
                        grid-template-columns: 50% 50%;
                        grid-template-rows: 51% 51%;
                        grid-column: 2 span;
                        border-top: 1px solid black;




                    }

                }

                .subCuadrado4 {
                    display: grid;
                    grid-template-columns: 50% 50%;
                    grid-template-rows: 50% 50%;
                    grid-column: 4 span;
                    grid-row: 2 span;
                    border-top: 1px solid black;



                }


            }


        }

        .subcuadroCard {
            display: grid;
            grid-template-columns: 45% 45%;
            grid-template-rows: 33.3% 33.3% 33.3%;
            margin-left: 50px;
            column-gap: 2rem;

            .containerCardReocomendacione {
                margin-top: 10px;

                border-radius: 10%;
                box-shadow: 0em 0em 1.5em rgba(0, 0, 0, .1);
                padding: 2rem;
                background-color: white;

                .contenedorTitulo {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 2px;

                }

                .datosStock {
                    display: flex;
                    justify-content: flex-start;
                    flex-direction: column;


                }

                .datos {
                    display: flex;
                    justify-content: space-around;
                    font-family: 'Times New Roman', Times, serif;
                    font-size: 16px;





                }

                .buttonComprar {
                    display: flex;
                    justify-content: space-around;
                    margin-top: 15px;
                    box-shadow: 0em 0em 1.5em rgba(0, 0, 0, .1);
                    margin-bottom: 10px;

                    button {
                        border-radius: 10%;
                        background-color: rgba(119, 251, 12, 0.983);
                        border: none;
                        width: 150px;
                        height: 50px;


                    }

                }





            }



        }



    }


}







@media screen and (min-width:600px) {
    .Box-BMA {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        flex-direction: column;
        background-color: #8c3642;
        color: #FFFFFF;



    }

    .box-BMA {
        .hover {

            width: 400px
        }
    }



    .Box-BVA {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        flex-direction: column;
        background-color: #BF4045;
        color: #FFFFFF;


    }

    .Box-BHI {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        flex-direction: column;
        background-color: #8c3642;
        color: #FFFFFF;
        border-left: 1px solid black;


    }

    .Box-ind {

        display: flex;
        justify-content: center;
        align-items: center;
        font-size: .75rem;
        flex-direction: column;
        background-color: #414554;
        color: #FFFFFF;
        border-right: 1px solid black
    }

    .Box-Santander {

        display: flex;
        justify-content: center;
        align-items: center;
        font-size: .75rem;
        flex-direction: column;
        background-color: #35764E;

        border-top: 1px solid black;
        border-left: 1px solid black;

        border-bottom: 1px solid black;

        p {
            color: #FFFFFF;
        }
    }

    .Box-Credico {

        display: flex;
        justify-content: center;
        align-items: center;
        font-size: .75rem;
        flex-direction: column;
        background-color: #35764E;
        color: #FFFFFF;
        border-top: 1px solid black;




    }

    .Box-Coma {

        display: flex;
        justify-content: center;
        align-items: center;
        font-size: .75rem;
        flex-direction: column;
        background-color: #35764E;
        color: #FFFFFF;


    }

    .Box-17 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        flex-direction: column;
        color: #FFFFFF;
        background-color: #414554;
        border-right: 1px solid black;
        border-bottom: 1px solid black;



    }

    .informes {


        margin-bottom: 20px;
        display: grid;
        grid-template-columns: 100%;

        margin-bottom: 5rem;


        .subcuadroInforme {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 10% 40% 10% 40%;


            .titulo {
                font-family: sans-serif;
                padding: .5rem;
                background-color: azure;
                margin-top: 12px;
                margin-left: 15px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-top: 1px solid;
                border-right: 1px solid;
                border-left: 1px solid;

                h2 {

                    font-size: 1.5vw;



                }

                h3 {
                    font-size: 1vw;


                }
            }

            .Cuadro {
                margin-left: 15px;
                border: 1px solid;
                display: grid;
                grid-template-columns: 35% 65%;




                .subCuadro {
                    display: grid;
                    grid-template-columns: 100%;
                    grid-template-rows: 50% 50%;
                    border-right: 1px solid;



                    .Box-GGAL {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 28px;
                        flex-direction: column;
                        background-color: #414554;
                        color: #FFFFFF;
                        border-bottom: 1px solid black;



                    }
                }

                .subCuadro2 {
                    display: grid;
                    grid-template-columns: 33% 34.2% 33%;
                    grid-template-rows: 25% 25% 25% 25%;




                    .Box-SUP {
                        grid-row: 2 span;

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 24px;
                        flex-direction: column;
                        background-color: #35764E;
                        color: #FFFFFF;
                        border-right: 1px solid black;

                    }

                    .subCuadrado3 {
                        display: grid;
                        grid-template-columns: 50% 50%;
                        grid-template-rows: 51% 51%;
                        grid-column: 2 span;
                        border-top: 1px solid black;




                    }

                }

                .subCuadrado4 {
                    display: grid;
                    grid-template-columns: 50% 50%;
                    grid-template-rows: 50% 50%;
                    grid-column: 4 span;
                    grid-row: 2 span;
                    border-top: 1px solid black;



                }


            }


        }

        .subcuadroCard {
            display: grid;
            grid-template-columns: 45% 45%;
            grid-template-rows: 33.3% 33.3% 33.3%;
            margin-left: 50px;
            column-gap: 2rem;

            .containerCardReocomendacione {
                margin-top: 10px;

                border-radius: 10%;
                box-shadow: 0em 0em 1.5em rgba(0, 0, 0, .1);
                padding: 2rem;
                background-color: white;

                .contenedorTitulo {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 2px;

                }

                .datosStock {
                    display: flex;
                    justify-content: flex-start;
                    flex-direction: column;


                }

                .datos {
                    display: flex;
                    justify-content: space-around;
                    font-family: 'Times New Roman', Times, serif;
                    font-size: 16px;





                }

                .buttonComprar {
                    display: flex;
                    justify-content: space-around;
                    margin-top: 15px;
                    box-shadow: 0em 0em 1.5em rgba(0, 0, 0, .1);
                    margin-bottom: 10px;

                    button {
                        border-radius: 10%;
                        background-color: rgba(119, 251, 12, 0.983);
                        border: none;
                        width: 150px;
                        height: 50px;


                    }

                }





            }



        }



    }


}



@media screen and (min-width:1024px) {


    .Box-BMA {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        flex-direction: column;
        background-color: #8c3642;
        color: #FFFFFF;



    }

    .box-BMA {
        .hover {

            width: 400px
        }
    }



    .Box-BVA {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        flex-direction: column;
        background-color: #BF4045;
        color: #FFFFFF;


    }

    .Box-BHI {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        flex-direction: column;
        background-color: #8c3642;
        color: #FFFFFF;
        border-left: 1px solid black;


    }

    .Box-ind {

        display: flex;
        justify-content: center;
        align-items: center;
        font-size: .75rem;
        flex-direction: column;
        background-color: #414554;
        color: #FFFFFF;
        border-right: 1px solid black
    }

    .Box-Santander {

        display: flex;
        justify-content: center;
        align-items: center;
        font-size: .75rem;
        flex-direction: column;
        background-color: #35764E;

        border-top: 1px solid black;
        border-left: 1px solid black;

        border-bottom: 1px solid black;

        p {
            color: #FFFFFF;
        }
    }

    .Box-Credico {

        display: flex;
        justify-content: center;
        align-items: center;
        font-size: .75rem;
        flex-direction: column;
        background-color: #35764E;
        color: #FFFFFF;
        border-top: 1px solid black;




    }

    .Box-Coma {

        display: flex;
        justify-content: center;
        align-items: center;
        font-size: .75rem;
        flex-direction: column;
        background-color: #35764E;
        color: #FFFFFF;


    }

    .Box-17 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        flex-direction: column;
        color: #FFFFFF;
        background-color: #414554;
        border-right: 1px solid black;
        border-bottom: 1px solid black;



    }

    .informes {


        margin-bottom: 20px;
        display: grid;
        grid-template-columns: 50% 50%;

        margin-bottom: 5rem;


        .subcuadroInforme {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 10% 40% 10% 40%;


            .titulo {
                font-family: sans-serif;
                padding: .5rem;
                background-color: azure;
                margin-top: 12px;
                margin-left: 15px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-top: 1px solid;
                border-right: 1px solid;
                border-left: 1px solid;

                h2 {

                    font-size: 1.5vw;



                }

                h3 {
                    font-size: 1vw;


                }
            }

            .Cuadro {
                margin-left: 15px;
                border: 1px solid;
                display: grid;
                grid-template-columns: 35% 65%;




                .subCuadro {
                    display: grid;
                    grid-template-columns: 100%;
                    grid-template-rows: 50% 50%;
                    border-right: 1px solid;



                    .Box-GGAL {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 28px;
                        flex-direction: column;
                        background-color: #414554;
                        color: #FFFFFF;
                        border-bottom: 1px solid black;



                    }
                }

                .subCuadro2 {
                    display: grid;
                    grid-template-columns: 33% 34.2% 33%;
                    grid-template-rows: 25% 25% 25% 25%;




                    .Box-SUP {
                        grid-row: 2 span;

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 24px;
                        flex-direction: column;
                        background-color: #35764E;
                        color: #FFFFFF;
                        border-right: 1px solid black;

                    }

                    .subCuadrado3 {
                        display: grid;
                        grid-template-columns: 50% 50%;
                        grid-template-rows: 51% 51%;
                        grid-column: 2 span;
                        border-top: 1px solid black;




                    }

                }

                .subCuadrado4 {
                    display: grid;
                    grid-template-columns: 50% 50%;
                    grid-template-rows: 50% 50%;
                    grid-column: 4 span;
                    grid-row: 2 span;
                    border-top: 1px solid black;



                }


            }


        }

        .subcuadroCard {
            display: grid;
            grid-template-columns: 45% 45%;
            grid-template-rows: 33.3% 33.3% 33.3%;
            margin-left: 50px;
            column-gap: 2rem;

            .containerCardReocomendacione {
                margin-top: 10px;

                border-radius: 10%;
                box-shadow: 0em 0em 1.5em rgba(0, 0, 0, .1);
                padding: 2rem;
                background-color: white;

                .contenedorTitulo {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 2px;

                }

                .datosStock {
                    display: flex;
                    justify-content: flex-start;
                    flex-direction: column;


                }

                .datos {
                    display: flex;
                    justify-content: space-around;
                    font-family: 'Times New Roman', Times, serif;
                    font-size: 16px;





                }

                .buttonComprar {
                    display: flex;
                    justify-content: space-around;
                    margin-top: 15px;
                    box-shadow: 0em 0em 1.5em rgba(0, 0, 0, .1);
                    margin-bottom: 10px;

                    button {
                        border-radius: 10%;
                        background-color: rgba(119, 251, 12, 0.983);
                        border: none;
                        width: 150px;
                        height: 50px;


                    }

                }





            }



        }



    }



}