//nesting

header {
    background: #010A4F;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
        .logoImg {
            height: 100px;
            width: 100px;
            padding: 3px;
            margin: 5px 5px 5px 25px;
            border-radius: 10%;
        }
    }

    nav {

        @media screen and (max-width:1024px) {
            input:checked~ul {
                display: block;
            }

            .titulosInferior {
                margin-top: 0;
                padding: 0;
                width: 200px;
                position: absolute;
                top: 90px;
                right: 0px;
                color: white;
                z-index: 1;
                margin: 0;
                right: 0px;
                background: $background-header;

                li {
                    margin-bottom: 20px;

                    a {
                        color: white;
                        text-decoration: none;
                        font-size: 16px;
                        padding: 15px;
                    }
                }
            }

            .titulosSuperior {
                margin-top: 0;
                padding: 0;
                width: 200px;
                position: absolute;
                top: 90px;
                right: 0px;
                color: red;
                z-index: 1;
                background: #010A4F;
                margin: 0px;

                li {
                    margin-bottom: 20px;

                    a {
                        text-decoration: none;
                        font-size: 16px;
                        padding: 15px;
                        cursor: not-allowed;

                    }
                }
            }
        }

        input {
            display: none;


        }

        label {
            display: none;

            @media screen and (max-width:1024px) {
                box-sizing: border-box;
                display: inline-block;
                border: 1px solid black;
                border-radius: 5px;
                width: 60px;
                height: 60px;
                line-height: 50px;
                font-weight: bold;
                text-align: center;
                user-select: none;
                background-color: $background-body;
                align-items: center;

            }
        }

        .titulosSuperior {
            display: flex;
            list-style-type: none;
            gap: 15px;
            padding-right: 15px;
            justify-content: center;
            padding: 5px;
            margin-right: 15px;

            @media screen and (max-width:1024px) {
                display: none;
            }

            li {
                a {
                    color: whitesmoke;
                    text-decoration: none;
                    font-size: 16px;

                }
            }

        }
    }

}


main {

    h1,
    h2 {
        text-align: center;
    }

    .bullBearImage {
        img {
            display: flex;
            flex-wrap: nowrap;
            width: 100vw;
            max-width: 100%;
            height: 90vh;
            object-fit: cover;
            justify-content: center;
            position: relative;

        }
    }

    .title {
        h1 {
            position: absolute;
            top: 20%;
            left: 50%;
            z-index: 1;
            transform: translateX(-50%);
            font-family: sans-serif;
            font-size: 2.5vw;

        }

        h2 {
            position: absolute;
            top: 30%;
            left: 50%;
            z-index: 1;
            font-family: $fontFamily-card;
            font-size: 1.5vw;
            transform: translateX(-50%)
        }
    }

    article {
        .sectionBeneficios h2 {
            margin-top: 6rem;
            font-size: 64px;
            font-family: $fontFamily-card;

        }

        .card {

            width: 300px;
            max-height: 60vh;
            min-width: 300px;

            height: 350px;

            border-radius: 0.25em;
            background-color: white;
            box-shadow: 0em 0em 1.5em rgba(0, 0, 0, .1);
            padding: 2rem;
            margin-bottom: 1rem;


        }

        .cardContainer {
            //margin-bottom: 5px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-top: 2rem;
            margin-bottom: 2rem;
            flex-wrap: wrap;
            display: flex;
            align-items: flex-start,
        }

        .card img {
            margin-bottom: 5px;

        }

        .card h1 {
            margin: 20px;
            font-size: 1.5rem;
            text-align: center;
            font-family: $fontFamily-card;

        }

        .card p {
            margin: 20px;
            text-align: center;
            font-family: $fontFamily-card
        }


    }



}